body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

nav {
    background-color: #004080;
    padding: 1em;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

header {
    padding: 2em;
    text-align: center;
    background-color: #cce6ff;
}

section {
    padding: 2em;
}
